*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background: #f7f7f7;
  padding: 35px 65px;
  color: #111;
}

/* TOPO */

.topo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.logo-menu{
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-menu h2{
  font-size: 14px;
  font-weight: bold;
}

.logo-menu nav a{
  text-decoration: none;
  color: #111;
  font-size: 12px;
  margin-right: 8px;
}

.acoes{
  display: flex;
  gap: 8px;
}

.acoes input{
  width: 170px;
  padding: 11px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

button{
  padding: 9px 16px;
  border: 1px solid #0b8b8b;
  background: white;
  color: #0b8b8b;
  border-radius: 7px;
  cursor: pointer;
}

/* CONTEÚDO */

.container{
  background: #f3f3f3;
  border-top: 1px solid #ddd;
  padding: 35px 18px;
}

.container h1{
  font-size: 26px;
  margin-bottom: 20px;
}

.resultado{
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 14px;
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  gap: 18px;
}

.imagem{
  width: 90px;
  height: 60px;
  background: #eee;
  border-radius: 4px;
}

.resultado h3{
  font-size: 15px;
  margin-bottom: 12px;
}

.resultado p{
  font-size: 11px;
  color: #777;
}

/* RODAPÉ */

footer{
  display: flex;
  gap: 14px;
  margin-top: 20px;
  padding: 0 18px;
}

.footer-card{
  flex: 1;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  font-weight: bold;
  font-size: 13px;
}

.copy{
  margin-top: 28px;
  padding-left: 18px;
  color: #777;
  font-size: 12px;
}
